.App {
  padding: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.button {
  color: #fff;
  background-color:#78c06f;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
  border: none;
}

.loading {
  letter-spacing: 2px;
  font-weight: bold;
  color: #c1c1c1;
}

.loading-error {
  letter-spacing: 2px;
  font-weight: bold;
  color: #ff0000;
}

.loading-section {
  text-align: center;
  padding: 20px;
}

.robbery-section {
  padding: 20px;
}

.robbery {
  font-size: 20px;
}

.robbery-section p:before { 
  content: open-quote;
  font-weight: bold;
  font-size:100px;
  color:#edeeef;
}

.punchline-btn {
  color: #fff;
  background-color:#1963a8;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
  border: none;
}

.btn-container {
  text-align: center;
}

.iwitness-section {
  padding: 20px;
}

.iwitness {
  text-align: end;
}

.iwitness p:after { 
  content: close-quote;
  font-weight: bold;
  font-size:100px;
  color:#edeeef;
}


@media (max-width: 768px) {

  .App {
    padding: 10px;
  }

  .button {
    border-radius: 50px;
    padding: 20px;
    font-size: 12px;
  }

  .punchline-btn {
    padding: 20px;
    font-size: 12px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
